
SPOTIPY_CLIENT_ID=[YOUR_SPOTIPY_CLIENT_ID]
SPOTIPY_CLIENT_SECRET=[YOUR_SPOTIPY_CLIENT_SECRET]
SPOTIPY_REDIRECT_URI=[YOUR_SPOTIPY_REDIRECT_URI]

QDRANT_CLUSTER_NAME=[YOUR_QDRANT_CLUSTER_NAME]
QDRANT_API_KEY=[YOUR_QDRANT_API_KEY]

MUSICBRAINZ_USER_AGENT=[YOUR_MUSICBRAINZ_USER_AGENT]
MUSICBRAINZ_CLIENT_ID=[YOUR_MUSICBRAINZ_CLIENT_ID]
MUSICBRAINZ_CLIENT_SECRET=[YOUR_MUSICBRAINZ_CLIENT_SECRET]
MUSICBRAINZ_REDIRECT_URI=[YOUR_MUSICBRAINZ_REDIRECT_URI]